.feedback {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: 600;
}

.feedback__title {
    font-size: 40px;
    font-weight: 600;
}

/* .feedback__stat {
    font-size: 30px;
    font-weight: 600;
} */

.feedback__counter {
    display: block;
    font-size: 20px;
    font-weight: 400;
}

.feedback__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    /* list-style: none; */
}

.button {
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
}